
@import 'helpers/variable';
@import 'base/reset';
@import 'helpers/breakpoints';
@import 'helpers/helpers';

@import 'components/buttons';
@import 'components/input';
@import 'components/select';
@import 'components/table';

@import 'layout/header';
@import 'layout/footer';

@import 'pages/index';
@import 'pages/login';
@import 'pages/add-case';
@import 'pages/profile';
@import 'pages/meeting';
@import 'pages/seminar';
@import 'pages/laboratory';
