@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/modal";

@import 'helpers/variable';
@import 'base/reset';
@import 'helpers/breakpoints';
@import 'helpers/helpers';

@import 'components/buttons';
@import 'components/input';
@import 'components/select';
@import 'components/table';
@import 'components/form-control';
@import 'components/transparent-bg';
@import 'components/modal';

@import 'layout/header';
@import 'layout/footer';

@import 'pages/index';
@import 'pages/login';
@import 'pages/add-case';
@import 'pages/profile';
@import 'pages/meeting';
@import 'pages/seminar';
@import 'pages/laboratory';
