.add-case {
  position: relative;
  max-width: $container;
  margin: 0 auto;

  h1 {
    max-width: $container;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 37px;
  }

  form {
    input, select {
      @include media-breakpoint-lg {
        max-width: $add-case-input-width;
        width: 100%;
      }
    }

    .case-form-control {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      @include media-breakpoint-lg {
        width: calc(50% - 18px);
      }
    }

    .d-lg-block {
      display: none;
      @include media-breakpoint-lg {
        display: flex;
      }
    }

    .case-data-block,
    .case-information-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    .case-data-block {
      margin-bottom: 64px;

      .form-text {
        width: 100%;
        font-size: 14px;
        text-align: right;
        margin-top: 8px;
        @include media-breakpoint-md {
          margin-right: -9px;
        }
      }

      .series-main-case-lg {
        width: calc(100% - 50px);
        margin-right: 12px;
        @include media-breakpoint-lg {
          width: calc(#{$add-case-input-width} - 50px);
        }
      }

      .series-main-case-sm {
        width: 38px;
      }
    }

    .case-information-block {
      margin-bottom: 64px;

      .save-information-btn {
        padding: 6px 22px;
        margin-bottom: -8px;
      }

      .payment-select {
        width: calc(100% / 2 - 6px);
        margin-right: 6px;
        @include media-breakpoint-lg {
          width: calc(#{$add-case-input-width} / 2 - 6px);
        }
      }

      .payment-input {
        width: calc(100% / 2 - 6px);
        margin-left: 6px;
        @include media-breakpoint-lg {
          width: calc(#{$add-case-input-width} / 2 - 6px);
        }
      }

      .case-information-w-max {
        width: 100%;

        input {
          @include media-breakpoint-lg {
            max-width: 989px;
          }
        }
      }

      .form-upload {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        @include media-breakpoint-lg {
          flex-wrap: nowrap;
          justify-content: flex-end;
        }

        label {
          width: 100%;
          @include media-breakpoint-lg {
            width: auto;
          }
        }

        input {
          width: calc(#{$add-case-input-width} - 115.45px);
          padding: 0;
          margin-bottom: 12px;
          border: none;
          @include media-breakpoint-md {
            margin-bottom: 0;
          }
        }

        button {
          width: 100%;
          border-radius: 3px;
          padding: 6px 16px;
          @include media-breakpoint-md {
            width: auto;
          }

          img {
            position: relative;
            top: 1px;
          }
        }
      }
    }

    .case-submit-block {
      text-align: right;
      @include media-breakpoint-lg {
        text-align: right;
      }

      button {
        width: 100%;
        padding: 6px 38px;
        margin-left: 0;
        margin-bottom: 16px;
        @include media-breakpoint-md {
          width: auto;
          margin-left: 8px;
          margin-bottom: 0;
        }
      }
    }
  }
}