.send-list {
  form {
    max-width: $container;
    margin: 0 auto;

    .search-block {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 36px;

      .form-control {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
  
        label {
          margin-right: 8px;
        }
  
        input {
          font-size: 16px;
          width: 112px;
        }
  
        select {
          width: 112px;
        }
      }
  
      .search-btn {
        width: 112px;
        padding: 6px 0;
      }
  
      .add-btn {
        width: 112px;
        padding: 6px 0;
      }
    }

    .data-table {
      .form-table {
        th, td {
          text-align: left;
          @include media-breakpoint-md {
            text-align: center;
          }
        }
      }
    }
  }
}