.profile {
  form {
    .profile-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 64px;
  
      .form-control {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
  
        &:last-of-type {
          margin-bottom: 0;
        }
  
        label {
          margin-right: 13px;
        }
  
        input {
          width: calc(100% - 96px);
        }
      }
    }
  }

  button {
    display: block;
    margin: 0 auto;
  }
}