.profile {
  form {
    .profile-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 32px;
      @include media-breakpoint-lg {
        margin-bottom: 64px;
      }
  
      .profile-form-control {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        @include media-breakpoint-lg {
          width: 100%;
          flex-wrap: nowrap;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
  
        input {
          width: 100%;
          @include media-breakpoint-lg {
            width: calc(100% - 96px);
          }
        }
      }
    }
  }

  button {
    display: block;
    margin: 0 auto;
  }
}