header {
  .header-background {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 563px;
      background-image: url(../images/header-background.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom center;
      z-index: -1;
    }
  }

  .navbar {
    max-width: $container;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 16px 0;
    color: white;
    @include media-breakpoint-lg {
      flex-wrap: nowrap;
      padding: 88px 0 32px 0;
    }
  
    .navbar-brand {
      font-size: 20px;
      color: inherit;
      text-decoration: none;
      padding-left: 16px;
      @include media-breakpoint-lg {
        font-size: 26px;
        padding-left: 0;
      }
    }
  
    .navbar-nav {
      position: relative;
      display: none;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 16px;
      background: $primary;
      padding: 8px 0;
      @include media-breakpoint-lg {
        width: auto;
        display: flex;
        flex-wrap: nowrap;
        background: none;
        padding: 0;
      }
  
      li {
        width: 100%;
        text-align: center;
        padding: 16px 0;
        @include media-breakpoint-lg {
          width: auto;
          text-align-last: left;
          margin-right: 36px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
  
      a {
        color: inherit;
        text-decoration: none;
      }
    }

    .menu-wrapper {
      overflow: hidden;
      max-width: 100%;
      cursor: pointer;

      .hamburger-menu {
        position: relative;
        width: 25px;
        height: 20px;
        margin: 15px;

        span {
          opacity: 1;
          left: 0;
          display: block;
          width: 100%;
          height: 2px;
          border-radius: 10px;
          color: black;
          background-color: white;
          position: absolute;
          transform: rotate(0deg);
          transition: .4s ease-in-out;

          &:nth-child(1) {
            top: 0;
          }

          &:nth-child(2) {
            top: 9px;
          }

          &:nth-child(3) {
            top: 18px;
          }
        }

        &.open {
          span {
            &:nth-child(1) {
              transform: translateY(9px) rotate(135deg);
            }

            &:nth-child(2) {
              opacity: 0;
              // transform: translateX(-60px);
            }
    
            &:nth-child(3) {
              transform: translateY(-9px) rotate(-135deg);
            }
          }
        }
      }

    }
  }
}