.container {
  position: relative;
  max-width: $container;
  margin: 0 auto;
  margin-bottom: 64px;
}

.h1 {
  max-width: $container;
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 24px;
  @include media-breakpoint-lg {
    margin-bottom: 36px;
  }
}

.link-color {
  color: $link;
}