.container {
  position: relative;
  max-width: $container;
  margin: 0 auto;
  margin-bottom: 64px;
}

.transparent-bg {
  padding: 32px 16px;
  @include media-breakpoint-md {
    padding: 48px 32px;
  }
  @include media-breakpoint-lg {
    padding: 64px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.6;
    z-index: -1;
  }
}

.h1 {
  max-width: $container;
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 36px;
}

.link-color {
  color: $link;
}