$container: 1248px;

// color
$primary:   #274376;
$secondary: #7D5543;
$cancel:    #8B8B8B;
$info:      #222222;
$link:      #5B9CA5;
$warning:   #CB6703;
$border:    #727272;

$form-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$add-case-input-width: 410px;