$container: 1248px;
$add-case-input-width: 410px;

// Breakpoint
$sm:  576px;
$md:  768px;
$lg:  992px;
$xl:  1200px;
$xxl: 1600px;

// Colors
$primary:   #274376;
$secondary: #7D5543;
$cancel:    #8B8B8B;
$info:      #222222;
$link:      #5B9CA5;
$warning:   #CB6703;
$border:    #727272;

$form-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
$transition: all .2s ease-in-out;